mcp-n8n-workflow-builder/src/python_src/config/20250901_141924.json
{
  "name": "Daily Sales Report Workflow",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": "daily",
          "hour": 8,
          "minute": 0
        }
      }
    },
    {
      "id": "crm-request",
      "name": "CRM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        440,
        200
      ],
      "parameters": {
        "url": "https://api.crm.example.com/sales-data",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "crmApi"
      }
    },
    {
      "id": "payment-request",
      "name": "Payment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        440,
        300
      ],
      "parameters": {
        "url": "https://api.payments.example.com/transactions",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "paymentApi"
      }
    },
    {
      "id": "analytics-request",
      "name": "Analytics Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        440,
        400
      ],
      "parameters": {
        "url": "https://api.analytics.example.com/metrics",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "analyticsApi"
      }
    },
    {
      "id": "data-processor",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        640,
        300
      ],
      "parameters": {
        "jsCode": "// Combine and process data from all sources\nconst crmData = $input.first().json;\nconst paymentData = $input.all()[1].json;\nconst analyticsData = $input.all()[2].json;\n\n// Generate report data\nconst report = {\n  date: new Date().toLocaleDateString(),\n  totalSales: paymentData.total_amount || 0,\n  newLeads: crmData.new_leads || 0,\n  conversionRate: analyticsData.conversion_rate || 0,\n  revenue: paymentData.revenue || 0,\n  topProducts: crmData.top_products || []\n};\n\nreturn [{\n  json: report\n}];"
      }
    },
    {
      "id": "email-sender",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        840,
        300
      ],
      "parameters": {
        "to": "sales-team@example.com",
        "subject": "Daily Sales Report - {{ $json.date }}",
        "body": "Daily Sales Report Summary:<br><br>\nDate: {{ $json.date }}<br>\nTotal Sales: ${{ $json.totalSales }}<br>\nNew Leads: {{ $json.newLeads }}<br>\nConversion Rate: {{ $json.conversionRate }}%<br>\nRevenue: ${{ $json.revenue }}<br><br>\nTop Products:<br>\n{{#each $json.topProducts}}\n- {{ this.name }}: {{ this.sales }} units<br>\n{{/each}}",
        "bodyType": "html"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "CRM Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Payment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Analytics Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CRM Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Payment Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Analytics Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}