mcp-n8n-workflow-builder/src/python_src/config/20250901_110437.json
{
  "name": "Daily Sales Report Workflow",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        240,
        300
      ],
      "parameters": {
        "rule": {
          "interval": "day",
          "hour": 8,
          "minute": 0
        }
      }
    },
    {
      "id": "crm-request",
      "name": "Fetch CRM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        200
      ],
      "parameters": {
        "url": "https://your-crm-api.com/sales-data",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth"
      }
    },
    {
      "id": "payment-request",
      "name": "Fetch Payment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        300
      ],
      "parameters": {
        "url": "https://your-payment-api.com/transactions",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth"
      }
    },
    {
      "id": "analytics-request",
      "name": "Fetch Analytics Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        480,
        400
      ],
      "parameters": {
        "url": "https://your-analytics-api.com/metrics",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth"
      }
    },
    {
      "id": "data-processor",
      "name": "Process Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1,
      "position": [
        720,
        300
      ],
      "parameters": {
        "jsCode": "// Combine and process data from all sources\nconst crmData = $input.first().json;\nconst paymentData = $input.all()[1].json;\nconst analyticsData = $input.all()[2].json;\n\n// Generate report data\nconst report = {\n  date: new Date().toISOString().split('T')[0],\n  totalSales: paymentData.total_amount || 0,\n  newLeads: crmData.new_leads || 0,\n  conversionRate: analyticsData.conversion_rate || 0,\n  revenue: paymentData.revenue || 0,\n  topProducts: crmData.top_products || []\n};\n\nreturn [{\n  json: report\n}];"
      }
    },
    {
      "id": "email-sender",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        960,
        300
      ],
      "parameters": {
        "subject": "Daily Sales Report - {{ $json.date }}",
        "message": "Daily Sales Report Summary:<br><br>\n<b>Date:</b> {{ $json.date }}<br>\n<b>Total Sales:</b> ${{ $json.totalSales }}<br>\n<b>New Leads:</b> {{ $json.newLeads }}<br>\n<b>Conversion Rate:</b> {{ $json.conversionRate }}%<br>\n<b>Revenue:</b> ${{ $json.revenue }}<br>\n<b>Top Products:</b> {{ $json.topProducts.join(', ') }}<br><br>\nBest regards,<br>\nSales Team",
        "emailType": "html"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Fetch CRM Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Payment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Fetch Analytics Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch CRM Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Fetch Payment Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Fetch Analytics Data": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}