mcp-n8n-workflow-builder/src/python_src/config/20250901_110048.json
{
  "name": "Daily Sales Report Workflow",
  "nodes": [
    {
      "id": "schedule-trigger",
      "name": "Daily Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [
        300,
        300
      ],
      "parameters": {
        "rule": {
          "interval": "day",
          "hour": 8,
          "minute": 0
        }
      }
    },
    {
      "id": "crm-request",
      "name": "Get CRM Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        200
      ],
      "parameters": {
        "url": "https://your-crm-api.com/sales-data",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBasicAuth"
      }
    },
    {
      "id": "payment-request",
      "name": "Get Payment Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        400
      ],
      "parameters": {
        "url": "https://your-payment-api.com/transactions",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth"
      }
    },
    {
      "id": "analytics-request",
      "name": "Get Analytics Data",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 1,
      "position": [
        500,
        600
      ],
      "parameters": {
        "url": "https://your-analytics-api.com/metrics",
        "method": "GET",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpQueryAuth"
      }
    },
    {
      "id": "data-processor",
      "name": "Process Sales Data",
      "type": "n8n-nodes-base.code",
      "typeVersion": 1.2,
      "position": [
        800,
        400
      ],
      "parameters": {
        "jsCode": "const crmData = $input.first().json;\nconst paymentData = $input.all()[1].json;\nconst analyticsData = $input.all()[2].json;\n\n// Process and combine data\nconst report = {\n  date: new Date().toISOString().split('T')[0],\n  totalSales: paymentData.total_amount || 0,\n  newLeads: crmData.new_leads || 0,\n  conversionRate: analyticsData.conversion_rate || 0,\n  revenue: paymentData.revenue || 0,\n  topProducts: crmData.top_products || []\n};\n\nreturn [{\n  json: report\n}];"
      }
    },
    {
      "id": "email-sender",
      "name": "Send Email Report",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        400
      ],
      "parameters": {
        "subject": "Daily Sales Report - {{ $json.date }}",
        "message": "Daily Sales Summary:<br><br>\nTotal Sales: ${{ $json.totalSales }}<br>\nNew Leads: {{ $json.newLeads }}<br>\nConversion Rate: {{ $json.conversionRate }}%<br>\nRevenue: ${{ $json.revenue }}<br>\nTop Products: {{ $json.topProducts.join(', ') }}<br><br>\nGenerated automatically by n8n workflow.",
        "emailType": "html"
      }
    }
  ],
  "connections": {
    "Daily Trigger": {
      "main": [
        [
          {
            "node": "Get CRM Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Payment Data",
            "type": "main",
            "index": 0
          },
          {
            "node": "Get Analytics Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get CRM Data": {
      "main": [
        [
          {
            "node": "Process Sales Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Payment Data": {
      "main": [
        [
          {
            "node": "Process Sales Data",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Get Analytics Data": {
      "main": [
        [
          {
            "node": "Process Sales Data",
            "type": "main",
            "index": 2
          }
        ]
      ]
    },
    "Process Sales Data": {
      "main": [
        [
          {
            "node": "Send Email Report",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}